<div class="maindiv" id="ProjectWorkSectionmodern">
    <div class="arraydiv">
        <h1>Modern Web Capabilities</h1> 
        
        <div class="cards-flex-container">
            @for(modern of moderArr; track $index) {
                <div class="modern-card" [style.border]="'1px solid ' + modern.border">
                    <img [src]="modern.modernImg" class="imgMove" alt="capability-icon">
                    <p class="card-label">{{modern.label}}</p>
                    <p class="card-points">{{modern.keyPoints}}</p>
                </div>
            }
        </div>
    </div>
</div>