.maindiv{
  padding-top: 30px;
  background-color: #0c0f16;
  height: fit-content;
  width: 100%; /* हे सुनिश्चित करा */
  overflow-x: hidden; /* मोबाईलवर स्क्रोल येऊ नये म्हणून */
}

  h1{
    color: white;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
    margin-top: 60px;
  }

  .arraydiv{
    width: 90%;          /* विड्थ ९०% केली */
    max-width: 1200px;   /* मॅक्सिमम विड्थ सेट केली */
    /* width: fit-content; */
    height: fit-content;
    border-radius: 20px;
    color: white;
    margin: 0 auto;
}

.imgMove{
  width: 35px;
  height: 30px;
  /* border-radius: 50%; */
  animation-name: myAnimation;
  animation-iteration-count: infinite; 
  animation-direction: alternate;
  animation-duration: 4s;
}

@media (max-width: 768px) {
  .arraydiv div[style*="display: flex"] {
    flex-direction: column !important; /* मोबाईलवर कार्ड्स एकाखाली एक येतील */
    align-items: center !important;
  }
}

/* @keyframes myAnimation {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(190px); 
    }
} */

