<div class="maindiv">
  <h1 style="padding-bottom: 40px;">Get in Touch</h1>
  
  <div style="display: flex;justify-content: center;align-items: center;">
  <div class="boxdiv">
    
    <div class="content-area">
      <div style="display: flex; justify-content: space-around; align-items: center;">
        <div>
        <img src="../../assets/hire.gif" alt="Description of GIF" width="35px" height="35px" style="border-radius: 10px;">
      </div>
        <div>
          <h2>HIRE ME FOR PROJECTS</h2>
        </div>
      </div>
      
      <p>
        Have an exciting project? Let's<br>
        connect and build something amazing<br> together.
      </p>

      <h3>saylishelke1805&#64;gmail.com</h3>
      <p>Contact me at this email to get started.</p>

      <a href="mailto:saylishelke1805@gmail.com" class="email-btn">
          <img src="../../assets/email.gif" alt="Email" width="25px" height="25px">
          <span style="margin-left: 8px; font-size: 10px; font-weight: 600; font-family: cursive;">EMAIL ME</span>
        </a>
        
      <!-- <div style="width: fit-content;background-color: white;color: rgba(55, 131, 189, 0.8);padding: 5px;border-radius: 17px;margin-left: 110px;margin-top: 20px;">
        <img src="../../assets/email.gif" alt="Description of GIF" width="30px" height="30px">
        <a href="mailto:support@example.com" style="margin-left: 5px;margin-right: 10px;font-size: 10px;font-weight: 600;font-family: cursive;">EMAIL ME</a>
      </div> -->
    </div>

  </div>
</div>

</div>