<div class="maindiv">
    <h1>Core System Implementations</h1>
    <div class="divcard">
        <div class="divcard2">
            @for(workarr of workarray;track $index){
                <div class="cartdiv">
                <div style="width: 500px;">
                <h2>{{workarr.project}}</h2>
                <p>{{workarr.pSummary}}</p>
                <h3>Performance Metrix</h3>
                <div style="display: flex;justify-content: space-around;">
                    <div><span class="h32nd">{{workarr.performace}}</span><br><p>Performance</p></div>
                    <div><span class="h32nd">{{workarr.Accessibilty}}</span><br><p>Accessibilty</p></div>
                    <div><span class="h32nd">{{workarr.matrixnumber}}</span><br><p>{{workarr.Matrix}}</p></div>
                </div>
                <h3 style="color: white;">Technical Implementaion</h3>
                <ul>
                    @for(textbullets of workarr.TechnicalBullets;track $index){
                    <li>{{textbullets}}</li>
                    }
                </ul>

                </div>
                 <div>
                    <img src="../../assets/coding-img.png" class="imagecss">
                 </div>
                 </div>
            }
        </div>
    </div>
</div>