<div class="maindiv">


    <div>
        <div class="box shadow"></div>
        <div class="divmove atom-icon-container">
                 <i class="fa-solid fa-atom"></i>
            </div>
 <div class="namediv">
    <h1>Sayali Shelke</h1>
</div>
<div class="divmove atom-icon-container-image">
               <img src="../../assets/rocket.png" style="width: 70px;height: 50px;">
            </div>
      <div class="webMaindiv">
        <div class="webdiv1"></div>
        <div class="webdiv2">Web Developer</div>
        <div class="webdiv1"></div>
     </div>
    

     <div>
        <p>Crafting exceptional digital experiences with modern web tecnologies</p>
        <div class="divspan">
        <span>Html</span>
        <span>Css</span>
        <span>Typescript</span>
        <span>Asp .Net Core</span>
        <span>MySql</span>
        </div>

        <div class="buttonmaindiv">
        <div class="box-1">
            <div class="divmove">
                <img src="../../assets/computer.png" style="width: 110px;height: 60px;padding-left: 60px;padding-top: 10px;">
            </div>
            <div class="btn btn-one" (click)="scrollToWork()">
                <button style="padding:0px 53px;background:rgba(67, 67, 67, 0.765);color: white;border: none;border-radius: 30px;">View My Work</button>
            </div>
        </div>

         <div class="box-1">
            <div class="btn btn-one">
                <button style="border:none;padding:0px 53px;background:rgba(67, 67, 67, 0.765);;color: white;border: none;border-radius: 30px;">Get in touch</button>
            </div>
        </div>
        </div>
       
     </div>
</div>
</div>