<div class="maindiv">


    <div>
        <div class="box shadow"></div>
        <div class="divmove atom-icon-container">
                 <i class="fa-solid fa-atom"></i>
            </div>
 <div class="namediv">
     <h1 class="name-container">
        <p class="hvr-float-shadow">Sayali Shelke</p>
    </h1>
</div>
<div class="divmove atom-icon-container-image">
               <img src="../../assets/rocket.png" style="width: 70px;height: 50px;">
            </div>
      <div class="webMaindiv">
        <div class="webdiv1"></div>
        <div class="webdiv2">Web Developer</div>
        <div class="webdiv1"></div>
     </div>
    

     <div>
        <p>Crafting exceptional digital experiences with modern web tecnologies</p>
        <div class="divspan">
        <span class=" name-bounce-only">Html</span>
        <span class=" name-bounce-only">Css</span>
        <span class=" name-bounce-only">Typescript</span>
        <span class=" name-bounce-only">Asp .Net Core</span>
        <span class=" name-bounce-only">MySql</span>
        </div>

        <div class="buttonmaindiv">
        <div class="box-1">
            <div class="divmove ">
                <img src="../../assets/computer.png" class="rocketimg">
            </div>
            <div class="btn btn-one" (click)="scrollToWork()">
                <button style="padding:0px 53px;background:rgba(67, 67, 67, 0.765);color: white;border: none;border-radius: 30px;">View My Work</button>
            </div>
        </div>

         <div class="box-1">
            <div class="btn btn-one">
                <button style="border:none;padding:0px 53px;background:rgba(67, 67, 67, 0.765);;color: white;border: none;border-radius: 30px;">Get in touch</button>
            </div>
        </div>
        </div>
       
     </div>
</div>
</div>