<div class="maindiv">


    <div>
        <div class="box shadow"></div>
        <div class="divmove atom-icon-container">
                 <i class="fa-solid fa-atom"></i>
            </div>
            <div class="namediv">
                <div class="name-wrapper">
                   <h1 class="name-container">
                       <p class="hvr-float-shadow main-name">Sayali Shelke</p>
                   </h1>
                   <div class="title-section">
                       <!-- <span class="line"></span> -->
                       <h5 class="dev-title">Developer</h5>
                       <!-- <span class="line"></span> -->
                   </div>
                </div>
           </div>
<div class="divmove atom-icon-container-image">
               <img src="../../assets/rocket.png" style="width: 70px;height: 50px;">
            </div>
     <div>
        <p style="color: white;padding-bottom: 25px;">Crafting exceptional digital experiences with modern web tecnologies</p>
        <div class="divspan">
        <span class=" name-bounce-only">Html</span>
        <span class=" name-bounce-only">Css</span>
        <span class=" name-bounce-only">Typescript</span>
        <span class=" name-bounce-only">Asp .Net Core</span>
        <span class=" name-bounce-only">MySql</span>
        </div>

        <div class="buttonmaindiv">
        <div class="box-1">
            <div class="divmove ">
                <img src="../../assets/computer.png" class="rocketimg">
            </div>
            <div class="btn btn-one" (click)="scrollToWork()">
                <button style="padding:0px 53px;background:rgba(67, 67, 67, 0.765);color: white;border: none;border-radius: 30px;">View My Work</button>
            </div>
        </div>

         <div class="box-1">
            <div class="btn btn-one">
                <button style="border:none;padding:0px 53px;background:rgba(67, 67, 67, 0.765);;color: white;border: none;border-radius: 30px;">Get in touch</button>
            </div>
        </div>
        </div>
       
     </div>
</div>
</div>